@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-roboto-flex), Arial, Helvetica, sans-serif;

  --font-black-slanted: var(--font-roboto-flex);
  --font-black-slanted--font-variation-settings:
    "wdth" var(--wdth, 100), "slnt" var(--slnt, -10), "opsz" var(--opsz, 144),
    "wght" var(--wght, 1000);

  --font-bold-slanted: var(--font-roboto-flex);
  --font-bold-slanted--font-variation-settings:
    "wdth" var(--wdth, 74), "slnt" var(--slnt, -10), "opsz" var(--opsz, 100),
    "wght" var(--wght, 600);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation-name: marquee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

.blue-gradient-bg {
  background: linear-gradient(to bottom,  #8a030a, #77298f,#0f172a, #000000);
}

.snake-svg {
  stroke-width: 3;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;
  animation: strokeanimation 2s ease-in-out 0s 1 forwards;
}

@keyframes strokeanimation {
  0% {
    stroke-dashoffset: 3500;
    fill: transparent;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
